@media screen and(max-width: 576px) {
    .nav-container,.logo-container,.nav-item-container ul,.banner-container
    ,.card-content,#logo
    {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
    .icon-container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and(min-width: 576px) and(max-width:992px){
    .nav-container,.logo-container,.nav-item-container ul,.banner-container
    ,.card-content,#logo
    {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
    .icon-container{
        grid-template-columns: repeat(3,1fr);
    }
}